<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <% @params.map do |key, value|%>
<%=key%>: <%=value%> <br />
 <% end %>
 


 </body>
</html>


